html, body {
  height: 100%;
  width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  height: 100%;
  width: 100%;
  background-color: #EEEEEE; }

img, picture {
  margin: 0;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

body {
  background-color: #EEEEEE;
  color: #333333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin: 0.2rem 0 0.5rem;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.125rem; }

h2 {
  font-size: 1.625rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.1875rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

@media only screen and (min-width:lower-bound(48rem, 61.9375rem)) {
  h1 {
    font-size: 2.75rem; }
  h2 {
    font-size: 2.25rem; }
  h3 {
    font-size: 1.8125rem; }
  h4 {
    font-size: 1.5rem; }
  h5 {
    font-size: 1.125rem; }
  h6 {
    font-size: 1rem; } }

p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 1.25rem;
  text-rendering: optimizeLegibility; }

a {
  color: tomato;
  text-decoration: none;
  transition: all 0.5s ease; }
  a:active, a:focus, a:hover {
    color: #f42500;
    text-decoration: none; }
  a:active, a:focus {
    outline: none; }

small {
  color: #595959;
  font-size: 60%; }

code {
  padding: 0.125rem 0.3125rem; }

code, pre {
  color: #adadad;
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  font-weight: 400; }

hr {
  border-bottom: 1px solid #DDDDDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.25rem 0; }

ul, ol {
  padding-left: 1.25rem; }

dl {
  margin-bottom: 0.7rem; }
  dl dt {
    font-weight: bold;
    margin-top: 0.7rem; }
  dl dd {
    margin: 0; }

label {
  font-weight: 600;
  margin-bottom: 1rem; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select, select[multiple=multiple] {
  background-color: #EEEEEE;
  border: 0.0625rem solid #DDDDDD;
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: block;
  margin: 0.25rem 0 1rem;
  max-width: 100%;
  padding: 0.625rem;
  transition: all 0.5s ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, select:hover, select[multiple=multiple]:hover {
    border-color: #d2d2d2;
    outline: none; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select:focus, select[multiple=multiple]:focus {
    border-color: tomato;
    outline: none; }

textarea {
  resize: vertical; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin: 0.25rem 0.5rem 1rem 0.25rem; }

input[type="file"] {
  padding-bottom: 0.625rem; }

button, input[type="button"], input[type="reset"], input[type="submit"], button, .button {
  background-color: tomato;
  border-radius: 0.25rem;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0.75rem 1rem;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.5s ease;
  -webkit-font-smoothing: antialiased; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus, .button:hover, .button:focus {
    background-color: #f42500;
    color: #FFFFFF; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, button:disabled, .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.container {
  max-width: 73.0625rem !important;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.9375rem; }
  @media only screen and (min-width:73.125rem) {
    .container {
      padding: 0; } }

.row {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  .row.reverse {
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: row-reverse;
        -ms-flex-wrap: row-reverse;
            flex-wrap: row-reverse; }

.column, .columns {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .column.reverse, .columns.reverse {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-flex-wrap: column-reverse;
        -ms-flex-wrap: column-reverse;
            flex-wrap: column-reverse; }
  .column:first-child, .columns:first-child {
    margin-left: 0; }
  .column:last-child, .columns:last-child {
    margin-right: 0; }

.flex {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-1 {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-2 {
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-3 {
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-4 {
  -webkit-flex-grow: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-5 {
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-6 {
  -webkit-flex-grow: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-7 {
  -webkit-flex-grow: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-8 {
  -webkit-flex-grow: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-9 {
  -webkit-flex-grow: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-10 {
  -webkit-flex-grow: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-11 {
  -webkit-flex-grow: 11;
      -ms-flex-positive: 11;
          flex-grow: 11;
  margin: 0.78125rem;
  max-width: 100%; }

.flex-12 {
  -webkit-flex-grow: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
  margin: 0.78125rem;
  max-width: 100%; }

.start {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.v-center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.end {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.top {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.h-center {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.bottom {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.stretch {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.between {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#intro {
  width: 100%;
  min-height: 100%; }

.grid-box {
  min-height: 3.125rem;
  color: #DDDDDD; }

.container {
  margin: 3.125rem auto; }

.component {
  margin: 3.125rem 0; }
  .component:first-child {
    margin-top: 0; }
  .component:last-child {
    margin-bottom: 0; }
  .component header h2 {
    font-weight: bold;
    border-bottom: 0.0625rem solid #CCCCCC;
    padding-bottom: 0.625rem;
    margin-bottom: 1.5625rem; }

#typography article {
  margin: 1.5625rem 0; }

.tomato {
  background-color: tomato; }

.light-tomato {
  background-color: #ff8a75; }

.lightest-tomato {
  background-color: #ffb1a3; }


/*# sourceMappingURL=style.css.map */